.accordion{
  width: 100%;
  cursor: pointer;
  width: 100%;
}
.paenl{
  display: none;
}

.faq-accordion{
  .accordion,
  .paenl{
    position: relative;
    font-size: rem(26);
    color: $gray;
    padding: rem(20) 0;
    i{
      margin-right: rem(20);
    }
  }
  .accordion{
    display: flex;
    border-bottom: rem(2) solid $accordion-border;
  }
  .paenl{
    border-bottom: rem(2) solid $accordion-border;
  }
}

.footer-accordion{
  border-top: rem(2) solid $footer-accordion-border;
  .accordion{
    position: relative;
    padding: rem(26) rem(30);
    font-size: rem(30);
    font-weight: $regular;
    color: $black-two;
    .icon-accordion-arrow{
      position: absolute;
      top: rem(40);
      right: rem(30);
      transform: rotate(180deg);
    }
    &.active{
      .icon-accordion-arrow{
        transform: rotate(360deg);
      }
    }
  }
  .paenl{
    flex-direction: column;
    padding:rem(40) rem(30);
    background-color:$bg-footer-paenl;
    font-size: rem(26);
    line-height: rem(36);
    color: $gray;
    font-weight: $light;
    p{
      &:nth-child(1){
        margin-bottom: rem(28);
      }
    }
  }
}