.attach-box {
   margin-top: rem(40);
  // padding: rem(43) rem(30);
  p {
    font-size: rem(26);
    font-weight: $medium;
    color: $black-two;
    padding-bottom: rem(35);
  }
}
.attach-list {
  li {
    border: rem(2) solid $gray-five;
    border-radius: rem(10);
    padding: rem(12) rem(30);
    margin-bottom: rem(12);
    // &:first-child {
    //   a {
    //     padding-top: 0;
    //   }
    // }
    a {
      position: relative;
      display: block;
      line-height: rem(36);
      font-size: rem(26);
      font-weight: $regular;
      color: $gray-two;
      padding: rem(13) 0 rem(13) rem(56);
        &:before {
        content: "";
        position: absolute;
        width: rem(36);
        height: rem(36);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-position: center;
        background-image: url('../images/attach.png');
        background-repeat: no-repeat;
        background-size: cover;
      } 
    }  
  }
}