.benefits{
  padding:0 $side-pad;
  .img-banner{
    margin: 0 rem(-30);
    padding-bottom: rem(20);
  }
  >ul{
    >li{
      width: 100%;
      background-color: $white;
      margin-bottom: rem(18);
      border-radius: rem(6);
      padding:rem(30) 0;
      .logo-title {
        text-align: center;
        font-size: rem(20);
        font-weight: $bold;
        line-height: rem(46);
        color: $gray;
      }
      .logo{
        width: rem(277);
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: rem(8);
        // max-width: rem(228);
        p{
          font-size: rem(22);
          line-height: rem(46);
          font-weight: $bold;
          color: $gray;
          margin-bottom: rem(2);
        }
      }
      .tag-list{
        margin-top: rem(18);
         &.margin-top-01 {
          margin-top: rem(22);
         }
         &.margin-top-02 {
          margin-top: rem(24);
         }
        ul{
          display: flex;
          justify-content: center;
          padding: 0 rem(40);
          li{
            margin-right: rem(12);
            &:last-child{
              margin-right: 0;
            }
            a{
              font-weight: $regular;
            }
          }
        }
      }
    }
  }
  .text-banner{
    text-align: center;
    color: $primary;
    padding-bottom: rem(70);
    h2{
      font-weight: $bold;
      font-size: rem(28);
      line-height: rem(36);
      padding-top:rem(56);
      padding-bottom:rem(14);
      
    }
    p{
      font-size: rem(22);
      line-height: rem(32);
      font-weight: $regular;
      padding-bottom: rem(26);
    }
  }
}