.btn {
    display: flex;
    line-height: rem(90);
    padding: 0 rem(15);
    border-radius: rem(6);
    font-size: rem(26);
    font-weight: 600;
    justify-content: center;
    &.btn-primary {
        background-color: $primary;
        color: $white;
    }
    &.btn-primary-outline {
        line-height: rem(64);
        border: rem(2) solid $primary;
        background-color: $white;
        color: $primary;
    }
    &.btn-block {
        width: 100%;
    }
    &.btn-disable{
        background-color: $disable;
        color: $white;
    }
    &.btn-insert{
        background-color: $black-two;
        color: $white;
        font-weight: $medium;
        border-radius: rem(10);
    }
}