.community-index{
  background-color: $white;
  padding: 0 $side-pad;
  position: absolute;
  width: 100%;
  height: 100%;
  .content-title{
    font-size: rem(32);
    font-weight: $medium;
    padding-top: rem(210);
    margin-bottom: rem(52);
  }
  .community-list{
    li{
      @for $i from 1 to 4{
        &:nth-child(#{$i}){
          margin-bottom:rem(56)
        }
      }
      a{
        p{
          font-weight: $regular;
        }
      }
    }
  }
}