.community-box {
  .content-list {
    &.none-padding {
      padding:0;
    }
    ul {
      li {
        margin-bottom: 0;
        a {
          .prefix {
            .img-banner {
              position: relative;
               border: rem(2) solid $box-border;
               border-radius: rem(10);
               overflow: hidden;
               height: rem(196);
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

              }
            }
          } 
        }
        .suffix {
          i {
            background-color: $white;
            color: $primary;
          }
          .title {
            color: $black-two;
            font-weight: $medium;
          }
        }
      }
    }
  }
  .detail-content {
    &.bg-color {
      background-color: $white;
    }
  }
  .detail-box {
    background-color: $white;
    .comment-id {
      font-size: rem(22);
      font-weight: $regular;
      color:$gray;
      position: relative;
      &:after {
        content:"";
        position: absolute;
        width: rem(2);
        height: rem(18);
        background-color: $content-list-border;
        top: 50%;
        right: rem(-16);
        transform: translateY(-50%);
      }
    }
  } 
}
