.community-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-18);
  li{
   flex: 1 1 33.33%;
   padding:0 rem(18);
   @for $i from 1 to 4{
     &:nth-child(#{$i}){
       margin-bottom:rem(30)
     }
   }
    .img-banner{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: rem(220);
      border: rem(2) solid $box-border;
      border-radius:rem(12);
      // padding: rem(24);
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        padding: rem(24);
      }
    }
    p{
      font-size: rem(24);
      line-height: rem(32);
      text-align: center;
      color: $gray;
      margin-top: rem(20);
    }
  }
}