.content-list{
  // padding-top: rem(20);
  // border-top: rem(20) solid $bg-slide-nav;
   &.none-border-top {
    border-top: none;
   }
  ul{
    li{
      background-color: $white;
      margin-bottom: rem(10);
      // border-top: rem(2) solid $content-list-border;
      border-bottom: rem(14) solid $box-border;
      &:first-child {
        border-top: rem(2) solid $box-border;
      &:last-child {
        border-bottom: rem(10) solid $content-list-border;
      }
      }
      a{
        @include flex-prefix-suffix;
        padding: rem(42) rem(30) rem(40) rem(30);
        .prefix{
          flex: 1 1 15%;
          .img-banner{
            position: relative;
            margin-right: rem(30);
            width: rem(286);
            height: rem(196);
            overflow: hidden;
            border-radius:rem(12);
            img{
              border-radius:rem(12);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .suffix{
          flex-direction: column;
          justify-content:flex-start;
          .title{
            font-size: rem(26);
            line-height: rem(36);
            color: $gray;
            @include ellipsis-multi;
            font-weight: 400;
          }
          .content-info{
            margin-top: rem(26);
          }
        }
        .user-id{
          font-size: rem(22);
          line-height:rem(26);
          color: $primary;
          padding-bottom: rem(9);
        }
        .tag{
          font-style: normal;
          margin-bottom: rem(18);
        }
      }
    }
  }
}
.column-type{
  
  >ul{
    // padding: rem(0) rem(30);
    >li{
      padding: rem(40) rem(30);
      border-bottom: rem(14) solid $box-border;
      &:last-child {
        border-bottom: none;
      }
      // &:nth-child(1){
      //   padding-top: 0;
      // }
    }
  }
  ul{
    li{
      // margin-bottom: rem(10);
      .title{
        font-size: rem(26);
        line-height: rem(36);
        color: $gray;
        font-weight: 400;
        padding-top: rem(25);
        padding-bottom: rem(25);
      }
      .survey-info{
        padding: rem(30) rem(30);
        background-color: $gray-three;
        .dot-list{
          li{
            display: flex;
            background: transparent;
            border: 0;
            margin: 0;
            .left,
            .right{
              font-size: rem(24);
              line-height: rem(48);
              font-weight: $regular;
              margin-right: rem(20);
            }
            .left{
              color: $gray-two;
            }
            .right{
              color: $gray;
            }
          }
        }
      }
    }
  }
  .btn{
    margin-top: rem(24);
  }
}