.content-info{
  @include flex-prefix-suffix;
  flex: 1 1 auto;
  align-items: flex-end;
  .prefix{
    align-items: center;
    .faq-date {
      font-size: rem(22);
      font-weight: $regular;
      color:$gray-two;
      line-height: rem(36);
    }
    .date{
      font-size: rem(22);
      line-height: rem(36);
      font-weight: $regular;
      color: $gray-two;
    }
    ul{
      display: flex;
      li{
        position: relative;
        font-size: rem(22);
        line-height: rem(36);
        font-weight: $regular;
        color: $gray-two;
        border: 0;
        margin: 0;
        padding-right: rem(35);
        &:after{
          content: '';
          position: absolute;
          top:rem(12);
          right: rem(16);
          width: rem(4);
          height: rem(12);
          background-color: $content-info-after-border;
        }
        &:last-child{
          padding: 0;
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .suffix{
    align-items: flex-end;
    flex-direction: row;
  }
}
          