.detail-view{
  background-color: #fff;
  .detail-title{
     padding:$side-pad rem(40);
     border-bottom: rem(2) solid $detail-border;
     div {
       font-size: rem(26);
       color:$primary;
       font-weight: $regular;
     }
     h1{
       font-size: rem(30);
       line-height: rem(40);
       color:$black-two;
       font-weight: $medium;
     }
     .date{
       font-size: rem(22);
       line-height: rem(36);
       font-weight: $regular;
       color:$gray-two;
     }
     .content-info{
      margin-top: rem(13);
     }
     .tag{
      margin-bottom: rem(12);
     }
  }
}
  .detail-content {
    border-bottom: rem(10) solid $detail-border;
    padding: $side-pad rem(40);
    word-break: break-all;
    p {
    font-size: rem(26);
    line-height: rem(36);
    color: $gray;
    font-weight: $regular;
    margin: 0;
  }
  &.notice-content {
    // border-bottom: rem(2) solid $detail-border;
    padding: rem(40) rem(30);
    border: none;
    
  }
}
.notice-fixed {
  // display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: rem(33) rem(30);
  border-top: rem(2) solid $detail-border;
  .notice-bottom {
    position: relative;
    // padding: rem(58) rem(30);
    font-size: rem(26);
    font-weight: $medium;
    line-height: rem(36);
    color: $sky;
     &::after {
      content: "";
      position: absolute;
      width: rem(14);
      height: rem(24);
      background-position: center center;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('../images/next-btn-sky.png');
  
     }
  }
}
.comment-title {
  // margin: rem(20) 0;
  display: flex;
  align-items: center;
  border-bottom: rem(2) solid $detail-border;
  background-color: $white;
  p {
    margin: rem(40) rem(30);
    font-size: rem(26);
    color: $black-two;
    font-weight: $medium;
    display: inline-block;
    margin-right: rem(25);
  }
  img {
    display: none;
  }
}
.detail-box {
  padding: 0 rem(30);
  .detail-box{
    padding: 0;
  }
}
.detail-comment {
  border-bottom: rem(2) solid $detail-border;
  display: flex;
  position: relative;
  margin-top: rem(40);
}

.change-btn {
    width: rem(8);
    height: rem(34);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/change_delete.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
.id {
  font-size: rem(22);
  padding-bottom: rem(8);
  color:$gray;
  font-weight: $regular;
}
.comment {
  font-size: rem(26);
  color: $black-three;
  font-weight: $regular;
  padding-bottom: rem(8);
}
.comment-bottom{
  display: flex;
  font-size: rem(22);
  line-height: rem(36);
  color:$gray-two;
  padding-bottom: rem(33); 
  background-color: $white;
  
  
  .comment-date{
    margin-right: rem(34);
  }
  .nocomment {
    padding-top: rem(40);
    padding-left: rem(30);
    font-size: rem(26);
    font-weight: $regular;
    color: $gray-two;
    line-height: rem(36);
  }
  .comment-date{
    position: relative;
    &:after {
      content:"";
      position: absolute;
      width: rem(2);
      height: rem(18);
      background-color: $gray-two;
      top: 50%;
      right: rem(-16);
      transform: translateY(-50%);
    }
  }
}
.line-plus {
  border-bottom: rem(2) solid $detail-border ;
}
.icon-comment-menu {
  width: rem(8);
  height: rem(34);
  display: block;
  background-image: url(../images/change_delete.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.btn-change-status {
  width: rem(8);
  height: rem(34);
  display: block;
  position: absolute;
  top: rem(33);
  right: 0;
}

.status-change-button-wrap {
  display: none;
  position: absolute;
  top: rem(33);
  right: rem(10);
  width: 100px;
  padding: rem(5) rem(20);
  border: rem(2) solid #dedede;
  border-radius: rem(20);
  background-color: $white;
  &.on {
    display: inline-block;
  }
  button {
    background-color: $white;
    width: 100%;
    padding: rem(10) 0;
    &:first-child {
      border-bottom: rem(2) solid #dedede;
    }
  }
}
.recomment{
  padding: rem(38) rem(38) 0 rem(38);
  position: relative;
  border-bottom: rem(2) solid $detail-border;
  &::before{
    content: "";
    position: absolute;
    width: rem(16);
    height: rem(18);
    top:rem(44);
    left:0;
    background-position: center;
    background-image: url('../images/recomment_ico.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.comment-wrap {
  display: flex;
  position: fixed;
  width:100% ;
  bottom: 0;
  left:0;
  background-color: #fff;
  padding: rem(18) rem(30);
  border-top: rem(2) solid $detail-border;
   label {
     flex: 1 1 80%;
   }
   input {
     width: 100%;
     height: rem(64);
     background-color: $gray-three;
     border-radius: rem(10);  
   }
   button {
     width: rem(100);
     height: rem(64);
     margin-left: rem(12);
     background-color: $black-two;
     color: #fff;
     font-size: rem(26);
     font-weight: $medium;
     border-radius: rem(10);
   }
}
.text-box {
  .detail-content {
    border-bottom: rem(2) solid $detail-border;
     p {
      font-size: rem(24);
      font-weight: $bold;
      line-height: rem(36);
      color: $black-two;
     }
  }
}