.dot-list{
  li{
    position: relative;
    padding-left: rem(28);
    &:after{
      content: '';
      position: absolute;
      top: rem(14);
      left: 0;
      background-color: $gray;
      width: rem(7);
      height: rem(7);
      border-radius: 50%;
    }
  }
}