.e-class {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: rem(40) rem(15);
    background-color: $white;
  }
  li {
    flex: 1 1 50%;
    padding: 0 rem(15);
    .item-img {
      overflow: hidden;
      position: relative;
      width: 100%;
      border-radius: rem(20);
      &::before {
        content: "";
        display: block;
        padding-top: 75.15%;
      }
      img {
        position: absolute;
        top:0;
        left: 0;
      }
    }
  }
  p {
    font-size: rem(26);
    font-weight: $regular;
    padding: rem(15) 0 rem(40);
    color: $gray;
  }
}