.error-page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: $white;
  margin: 0;
  justify-content: center;
  .error{
    text-align: center;
    padding: 0 $side-pad;
    .img-banner{
      width:rem(150);
      margin: auto;
    }
    .error-type{
      color: $primary-two;
      font-weight: $bold;
      font-size: rem(32);
      line-height: rem(84);
      margin-top: rem(-24);
    }
    .error-title{
      font-size: rem(30);
      line-height: rem(84);
      font-weight: $medium;
      color: $black-two;
      margin-top: rem(-6);
    }
    .try{
      font-size: rem(28);
      line-height: rem(42);
      color: $gray-two;
      font-weight: $regular;
    }
    .btn{
      position: absolute;
      width: calc(100% - #{rem(60)});
      left: rem(30);
      bottom: rem(116);
    }
  }
}