.section {
  .faq {
    // padding: 0 rem(29);
    .faq-title {
      position: relative;
      border-bottom: rem(2) solid $box-border;
      p {
        font-size: rem(26);
        font-weight: $regular;
        color: $black-two;
        line-height: rem(36);
        padding-top: rem(40);
        padding-bottom: rem(31);
      }
    }
    .dot-list {
      padding-top: rem(29);
      li {
        font-size: rem(26);
        font-weight: $regular;
        color: $gray-two;
      }
    }
    .box {
      width: 100%;
      margin: rem(30) 0;
      border: 1px solid $box-border;
      border-radius: rem(10);
      background-color: #fff;
      ul {
        display: flex;
        justify-content: space-between;
        padding: rem(25) rem(30);
        li {
          display: flex;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: rem(-36);
            transform: translateY(-50%);
            width: rem(17);
            height: rem(30);
            background-image: url('../images/arrow.png');
            background-position: center center;
            background-size: cover;
          }
          &:nth-child(1) {
            .step-list {
              span {
                color: $black-two;
              }
              .color-none {
                color: $gray-two;
              }
            }
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          .step-img {
            width: rem(64);
            margin-right: rem(15);
          }
          .step-list {
            p {
              font-size: rem(20);
              font-weight: $regular;
              color: $gray-two;
              margin-bottom: rem(-12);
              line-height: rem(34);
            }
            span {
              font-size: rem(26);
              font-weight: $regular;
              color: $gray-two;
              line-height: rem(34)
            }
          }
        }
      }
    }
    .content-list {
      padding: 0;
      ul {
        li {
          a {
            display: flex;
            flex-direction: row-reverse;
            .prefix{
              justify-content: flex-end;
              padding-left: rem(20);
            }
            .suffix {
              font-size: rem(22);
              font-weight: $regular;
              color: $gray-two;
              .content-info {
                margin-top: 0;
                .prefix{
                  justify-content: flex-start;
                  padding-left: 0;
                }
              }
            }
            
          }
          .btn-complete {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(22);
            color: $gray-four;
            width: rem(96);
            height: rem(96);
            border: rem(2) solid $gray-three;
            border-radius: 50%;
            text-align: center;
            background-color: $gray-three;
            line-height: rem(26);
          }
        }
      }
    }
    .faq-top{
      padding: 0 $side-pad;
    }
  }
  .faq-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-top: rem(166);
    .faq-icon {
      width: rem(90);
      height: rem(70);
    }
    p {
      font-size: rem(26);
      font-weight: $regular;
      color: $gray;
      padding-top: rem(28);
      padding-bottom: rem(126);
    }
    &.not-search{
      height: calc(57vh - 5.28125rem);
    }
  }
  .faq-btn {
    padding: rem(72) rem(30) rem(40) rem(30);
    background-color: #fff;
  }
}

.form-wrap {
  textarea {
    width: 100%;
    height: rem(360);
    padding: rem(30);
    color: $gray-two;
    font-family: 'Noto Sans CJ KR';
    &::placeholder {
      font-size: rem(26);
      color: $gray-two;
      font-weight: $regular;
    }
  }
}