.floating-menu{
  position: fixed;
  bottom: rem(200);
  right: rem(40);
  display: flex;
  flex-direction: column-reverse;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(88);
    height:rem(88);
    border-radius: 50%;
    background-color: #e8bc09;
    &.up-btn{
      display: none;
      background-color:#f3f4f8;
      border: rem(2) solid #666666;
    }
    + a{
      margin-bottom: rem(20);
    }
  }
  &.show{
    .up-btn{
      display: flex;
    }
  }
}
