@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansCJKkr-Thin.otf) format('opentype'),
       url(../fonts/NotoSansCJKkr-Thin.woff) format('woff')
}
@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansCJKkr-Light.otf) format('opentype'),
       url(../fonts/NotoSansCJKkr-Light.woff) format('woff')
}
@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansCJKkr-Regular.otf) format('opentype'),
       url(../fonts/NotoSansCJKkr-Regular.woff) format('woff')
}
@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansCJKkr-Medium.otf) format('opentype'),
       url(../fonts/NotoSansCJKkr-Medium.woff) format('woff')
}
@font-face {
  font-family: 'Noto Sans CJ KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansCJKkr-Bold.otf) format('opentype'),
       url(../fonts/NotoSansCJKkr-Bold.woff) format('woff')
}