nav.foot {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(169);
    padding: rem(29) 0 0;
    z-index: 11;
    .foot-nav {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        border-top: rem(2) solid #e0e0e0;
        padding: 0 rem(15);
        background-color: #ffffff;
        .btn-home {
            display: flex;
            position: absolute;
            top: rem(-29);
            left: 50%;
            transform: translateX(-50%);
            width: rem(138);
            height: rem(138);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/btn-home.png');

        }
        ul {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            &:nth-of-type(1) {
                padding-right: rem(60);
            }
            &:nth-of-type(2) {
                padding-left: rem(50);
            }
            li {
                display: flex;
                align-items: center;
                align-self: flex-start;
                a {
                    display: flex;
                    flex-wrap: wrap;
                    padding: rem(18) 0;
                    justify-content: center;
                    font-size: rem(24);
                    padding: rem(18) rem(15);
                    span {
                        display: flex;
                        flex: 1 1 100%;
                        justify-content: center;
                        padding-top: rem(20);   
                    }
                }
                &:nth-child(n+3) {
                    background-color: aqua;
                    align-self: flex-end;
                }
                &.on {
                    a {
                        color: #37aad7;
                        .icon-search {
                            background-image: url('../images/icon-search-on.png');
                        }
                        .icon-tot-comu {
                            background-image: url('../images/icon-info-on.png');
                        }
                        .icon-comu {
                            background-image: url('../images/icon-total-comu-on.png');
                        }
                        .icon-my {
                            background-image: url('../images/icon-my-on.png');
                        }
                    }
                }
            }
        }
    }
    
}
