.gallery-list-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-15);
    padding: rem(40) rem(30);
    .item {
        flex: 1 1 50%;
        padding: 0 rem(15);
        .item-img {
            border-radius: rem(20);
            overflow: hidden;
        }
    }
}