.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 rem(30);
  border-bottom: rem(2) solid $header-border;
  width: 100%;
  height: rem(90);
  background-color: $white;
  @include flex-prefix-center-suffix;
  z-index: 100;
  .prefix{
    display: flex;
    justify-content: space-between;
    a{
      display: inline-block;
      max-width: rem(178);
      img{
        padding-top: rem(12);
      }
    }
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    h1{
      font-size: rem(36);
      color: $black-two;
      font-weight: $medium;
    }
  }
  .suffix{
    position: relative;
    .btn{
      width: rem(100);
      line-height: rem(64);
    }
  }
  .slide-nav{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-slide-nav;
    overflow: auto;
    .nav-top{
      background-color: $white;
      border-bottom: rem(2) solid $header-border;
      height: rem(90);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: rem(30);
    }
    .nav-content{
      .content{
        background-color: $white;
        padding:0 rem(30);
        padding-bottom: rem(60);
        + .content{
          margin-top:rem(20);
        }
        .content-title{
          font-size: rem(32);
          font-weight: $medium;
          color: $black-two;
          padding-top: rem(28);
          padding-bottom: rem(13);
        }
        .box-list{
          flex-wrap: wrap;
          li{
            position: relative;
            flex: 1 1 100%;
            font-size: rem(32);
            line-height: rem(90);
            color: $gray;
            &:last-child{
              margin-top: rem(-2);
            }
            a{
              display: block;
              padding-left:rem(32);
              font-weight: $regular;
            }
            &:after{
              content: '';
              background-image: url(../images/ico_right_arrow.png);
              position: absolute;
              top: 51%;
              right: rem(16);
              transform: translateY(-50%);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              width: rem(12);
              height: rem(22);
            }
          }
        }
        .sns-list{
          background-color: $bg-sns-list;
          margin: 0 rem(-30);
          padding-top: rem(40);
          padding-bottom:rem(20);
          ul{
            padding: 0 rem(30);
            li{
              width: 25%;
            }
          }
        }
      }
    }
  }
}