
.icon-pen{
  @include icon-setting;
  background-image: url(../images/ico_pencil.png);
  width: rem(40);
  height: rem(40);
}
.icon-menu{
  @include icon-setting;
  background-image: url(../images/ico_humber.png);
  width: rem(42);
  height: rem(32);
}
.icon-close{
  @include icon-setting;
  background-image: url(../images/ico_close.png);
  width: rem(32);
  height: rem(32);
}
.icon-spc{
  @include icon-setting;
  background-image: url(../images/ico_spc.png);
  width: rem(101);
  height: rem(101);
}
.icon-kakao{
  @include icon-setting;
  background-image: url(../images/ico_kakao.png);
  width: rem(101);
  height: rem(101);
}
.icon-instar{
  @include icon-setting;
  background-image: url(../images/ico_Instar.png);
  width: rem(101);
  height: rem(101);
}
.icon-youtube{
  @include icon-setting;
  background-image: url(../images/ico_youtube.png);
  width: rem(101);
  height: rem(101);
}
.icon-blog{
  @include icon-setting;
  background-image: url(../images/ico_blog.png);
  width: rem(101);
  height: rem(101);
}
.icon-back{
  @include icon-setting;
  background-image: url(../images/ico_back.png);
  width: rem(24);
  height:rem(44) ;
}
.icon-delete{
  @include icon-setting;
  background-image: url(../images/change_delete.png);
  width: rem(8);
  height:rem(34) ;
}
.icon-question{
  @include icon-setting;
  background-image: url(../images/ico_question.png);
  width: rem(44);
  height: rem(44);
}
.icon-ask{
  @include icon-setting;
  background-image: url(../images/ico_ask.png);
  width: rem(44);
  height: rem(44);
}
.icon-heart{
  @include icon-setting;
  background-image: url(../images/ico_heaert.png);
  width: rem(34);
  height: rem(30);
}
.icon-heart-on{
  @include icon-setting;
  background-image: url(../images/ico_heaert_on.png);
  width: rem(34);
  height: rem(30);
}
.icon-accordion-arrow{
  @include icon-setting;
  background-image: url(../images/accordion-arrow.png);
  width: rem(36);
  height: rem(20)
}
.icon-notice{
  @include icon-setting;
  background-image: url(../images/icon-notice.png);
  width: rem(36);
  height: rem(36);
  margin-right: rem(10);
}
.icon-news{
  @include icon-setting;
  background-image: url(../images/icon-news.png);
  width: rem(30);
  height: rem(36);
  margin-right: rem(10);
}
.icon-trend{
  @include icon-setting;
  background-image: url(../images/icon-trend.png);
  width: rem(36);
  height: rem(36);
  margin-right: rem(10);
}
.icon-job{
  @include icon-setting;
  background-image: url(../images/icon-job.png);
  width: rem(36);
  height: rem(35);
  margin-right: rem(10);
}
.icon-gallery{
  @include icon-setting;
  background-image: url(../images/icon-gallery.png);
  width: rem(36);
  height: rem(36);
  margin-right: rem(10);
}
.icon-benefit{
  @include icon-setting;
  background-image: url(../images/icon-benefit.png);
  width: rem(36);
  height: rem(36);
  margin-right: rem(10);
}
.icon-faq{
  @include icon-setting;
  background-image: url(../images/icon-faq.png);
  width: rem(36);
  height: rem(36);
  margin-right: rem(10);
}
.icon-faq-02{
  @include icon-setting;
  background-image: url(../images/icon-faq-02.png);
  width: rem(30);
  height: rem(36);
  margin-right: rem(10);
}
.icon-research{
  @include icon-setting;
  background-image: url(../images/icon-research.png);
  width: rem(36);
  height: rem(36);
  margin-right: rem(10);
}
.icon-map{
  @include icon-setting;
  background-image: url(../images/icon-map.png);
  width: rem(30);
  height: rem(36);
  margin-right: rem(10);
}
.icon-privacy{
  @include icon-setting;
  background-image: url(../images/icon-privacy.png);
  width: rem(30);
  height: rem(36);
  margin-right: rem(10);
}
.icon-service{
  @include icon-setting;
  background-image: url(../images/icon-service.png);
  width: rem(32);
  height: rem(36);
  margin-right: rem(10);
}
.icon {
  @include icon-setting;
  width: rem(52);
  height: rem(52);
  &.icon-search {
      background-image: url('../images/icon-search.png');
  }
  &.icon-info {
      background-image: url('../images/icon-info.png');
  }
  &.icon-comu {
      background-image: url('../images/icon-total-comu.png');
  }
  &.icon-my {
      background-image: url('../images/icon-my.png');
  }
}
.ico-search {
  @include icon-setting;
  background-image: url(../images/ico_search.png);
  width: rem(33);
  height: rem(32);
}
.ico-close {
  @include icon-setting;
  background-image: url(../images/icon_close.png);
  width: rem(22);
  height: rem(22);
} 
.icon-search-close {
  @include icon-setting;
  background-image: url(../images/icon-search-close.png);
  width: rem(18);
  height: rem(18);
}
.icon-plus {
  @include icon-setting;
  background-image: url(../images/plus.png);
  width: rem(16);
  height: rem(16);
}
.icon-list {
  @include icon-setting;
  width: rem(80);
  height: rem(80);
  &.icon-list01 {
    background-image: url('../images/ico_list_01.png');
  }
  &.icon-list02 {
    background-image: url('../images/ico_list_02.png');
  }
  &.icon-list03 {
    background-image: url('../images/ico_list_03.png');
  }
  &.icon-list04 {
    background-image: url('../images/ico_list_04.png');
  }
  &.icon-list05 {
    background-image: url('../images/ico_list_05.png');
  }
  &.icon-list06 {
    background-image: url('../images/ico_list_06.png');
  }
  &.icon-list07 {
    background-image: url('../images/ico_list_07.png');
  }
  &.icon-list08 {
    background-image: url('../images/ico_list_08.png');
  }
  &.icon-list09 {
    background-image: url('../images/ico_list_09.png');
  }
}
.icon-arrow-up{
  @include icon-setting;
  background-image: url('../images/ico_up_arrow.png');
  width:rem(48);
  height: rem(48);
}
.ico-arrow {
  @include icon-setting;
  background-image: url(../images/ico_more.png);
  width: rem(14);
  height: rem(22);
}