input[type="checkbox"]{
  @include hidden-checkbox;
  + label{
    position: relative;
    display: inline-block;
    font-size: rem(26);
    line-height: rem(31);
    font-weight: $medium;
    color:$check-label;
    &:after{
      content: '';
      background-image: url(../images/ico_checkbox.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: rem(38);
      height: rem(38);
    }
  }
  &:checked{
    + label{
      color:$red ;
      &:after{
        background-image: url(../images/ico_checkbox_on.png);
      }
    }
  }
}

.heart-check{
  input[type="checkbox"]{
    @include hidden-checkbox;
    + label{
      font-size: rem(22);
      &:after{
        position: absolute;
        left: rem(-38);
        top: rem(4);
        background-image: url(../images/ico_heart.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: rem(25);
        height: rem(22);
      }
    }
    &:checked{
      + label{
        &:after{
          background-image: url(../images/ico_heart_on.png);
        }
      }
    }
  }
}

select {
  font-size: rem(26);
  appearance: none;
  background-image: url('../images/selectbox-arrow.png');
  background-repeat: no-repeat;
  background-position: calc(100% - #{rem(30)}) center;
  background-size: rem(18);
  padding: 0 rem(30);
  color: #999999;
  size: 10;
  background-color: $white;
}