.main{
  .welcome{
    display: flex;
    align-items: center;
    padding: 0 rem(30);
    min-height: rem(90);
    background-color: $white;
    .prefix{
      flex: 1 1 50%;
      font-size: rem(28);
      font-weight: $regular;
      line-height: rem(52);
      color: $black-two;
      &.after-login{
        font-size: rem(30);
        display: flex;
        align-items: center;
      }
      .welcome-title {
        color: $primary;
        font-weight: $medium;
      }
      .name-title{
        color: $primary;
        font-weight: $medium;
        max-width: rem(120);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .suffix{
      position: relative;
      .tag{
        line-height: rem(48);
        div{
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          max-width: rem(180);
          margin-top: rem(-8);
        }
        &.login-tag {
          &[data-type="multiple"] {
            position: relative;
            padding-right: rem(90);
            &:after {
              content: "";
              position: absolute;
              right: rem(30);
              top: 50%;
              transform: translateY(-50%);
              border-top: rem(10) solid $white;
              border-left: rem(12) solid transparent;
              border-right: rem(12) solid transparent;
            }
          }
        }
      }
      .dropdown {
        position: absolute;
        width: 100%;
        border: rem(2) solid #dedede;
        display: none;
        top: 100%;
        left: 0;
        z-index: 2;
        background-color: $white;
        &.on {
          display: block;
        }
         li {
          a {
            display: block;
            padding: rem(20) rem(30);
            font-size: rem(26);
          }
         }
      }
    }
  }
  .main-slide{
    border-top: rem(10) solid $bg-slide-nav;
    border-bottom: rem(10) solid $bg-slide-nav;
     .swiper-slide {
       img {
        vertical-align: top;
       }
     }
  }
  .section-title{
    @include flex-prefix-suffix;
    align-items: center;
    padding: rem(48) rem(30) rem(26) rem(30);
    .prefix{
      flex-direction: column;
      h1{
        font-size: rem(36);
        font-weight: $medium;
        color: $black-two;
      }
      p{
        font-size: rem(22);
        line-height:rem(26);
        color: $gray-two
      }
    }
    .suffix{
      a{
        position: relative;
        font-size: rem(26);
        line-height: rem(26);
        font-weight: $regular;
        color: $gray-two;
        padding-right: rem(30);
        &:after{
          content: '';
          width: rem(14);
          height: rem(22);
          background-image: url(../images/ico_more.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          top: rem(4);
        }
      }
    }
  }
  .link-banner{
    background-color: $white;
    // margin-bottom: rem(20);
    &.has-padding{
      padding: 0 rem(30);
    }
  }
  .best-community{
    .content-list{
      >ul{
        >li{
          margin-top: rem(-12);
          border-top: rem(2) solid $bg-slide-nav;
          border-bottom: rem(2) solid $bg-slide-nav;
          &:first-child{
            margin-top: 0;
          }
          &:last-child {
            border-bottom: rem(10) solid $bg-slide-nav;
          }
          &.border-bottom-none {
            border-bottom: 0;
          }
          a{
            flex-direction: column;
            padding: rem(30) rem(36) rem(38) rem(30);
            .suffix{
              .title{
                @include ellipsis;
                font-size: rem(28);
                font-weight: $medium;
                color: $black-two;
                margin-top: rem(10);
              }
            }
          }
          .content-info{
            ul{
              li{
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
  .job {
    padding: rem(60) rem(36) rem(38) rem(30);
    border-bottom: rem(20) solid $bg-slide-nav;
    .section-title {
      padding: 0;
      padding-bottom: rem(30); 
      border-bottom: 0.0625rem solid #e0e0e0;
    }
    .main-job {
      .content-list {
        border-bottom: 0;
        &.none-border-top {
          border-top:0;
        }
        ul {
          li {
            background-color: $white;
            margin-bottom: rem(10);
            border-bottom: rem(2) solid $box-border;
            a{
              padding-left: 0;
              padding-right: 0;
            }
        
          &:last-child {
            border-bottom: 0;
          }
            &:first-child {
              // border-top: rem(2) solid $box-border; 07/15
              border-top: 0;
              // margin-top: rem(30);
            a {
              @include flex-prefix-suffix;
              // padding: rem(0) rem(30) rem(40) rem(30);
              
               .prefix {
                flex: 1 1 15%;
                .img-banner {
                  position: relative;
                  
                  margin-right: rem(30);
                  width: rem(286);
                  img {
                    border-radius: rem(12);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                  }
                }
               }
               .suffix {
                flex-direction: column;
                justify-self: start;
                .title {
                  font-size: rem(26);
                  line-height: rem(36);
                  color: $gray;
                  @include ellipsis-multi;
                  font-size: 400;;
                }
                .content-info {
                  margin-top: rem(26);
                }
               }
               .user-id {
                font-size: rem(22);
                line-height: rem(26);
                color: $primary;
                padding-bottom: rem(9);
               }
               .tag {
                font-style: normal;
                margin-bottom: rem(18);
               }
            }
          }
        }
      }
    }
    }
  }
  .add-banner {
    img {
      border-top: rem(20) solid $bg-slide-nav;
      border-bottom: rem(20) solid $bg-slide-nav;
    }
  }
  .industry{
    padding: rem(60) rem(36) rem(38) rem(30);
   /* border-bottom: rem(20) solid $bg-slide-nav;*/
    .section-title {
      padding: 0;
      padding-bottom: rem(30); 
      border-bottom: 0.0625rem solid #e0e0e0;
    }
    .content-list{
      padding-top: 0;
      ul{
        li{
          border-bottom: rem(2) solid $box-border;
          padding-bottom: rem(40);
           &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
           }
           &:first-child {
            // border-top: rem(2) solid $box-border; 07/15
            border-top: 0;
           }
          a{
            margin-top: rem(30);
            &:last-child {
              border-bottom: 0;
              padding: 0;
            }
          }
          &:nth-child(1){
            a{
              padding: 0
            }
          }
        }
      }
    }
  }
  .notice{
    padding-top: rem(30);
    padding-bottom: rem(60);
    border-bottom: rem(20) solid $bg-slide-nav;
    .notice-list{
      padding: 0 rem(30);
      ul{
        li{
          border-top: rem(2) solid $table-list-border;
          &:last-child{
            border-bottom: rem(2) solid $table-list-border;
          }
          a{
            @include flex-prefix-suffix;
            .prefix{
              flex: 1 1 70%;
              align-items: center;
              overflow: hidden;
              .title{
                @include ellipsis;
                font-size: rem(28);
                line-height: rem(92);
                color: $black-two;
                font-weight: $regular;
              }
            }
            .suffix{
              font-size: rem(24);
              line-height: rem(92);
              color:$gray-two;
              font-weight: $regular;
            }
          }
        }
      }
    }
  }
  .sns{
    padding-bottom: rem(60);
    margin-bottom: 0;
    .sns-list{
      background-color: $bg-sns-list;
      // margin: 0 rem(-30);
      padding-top: rem(40);
      padding-bottom:rem(20);
      ul{
        // padding: 0 rem(30);
        li{
          width: 25%;
        }
      }
    }
  }
  .app-infos{
    background-color: #e2e7eb;
    .link-list{
      padding: rem(24) 0;
      ul{
        display: flex;
        justify-content: center;
        li{
          position: relative;
          padding-right: rem(30);
          &:after{
            content: '';
            width: rem(2);
            height: rem(20);
            background-color: $black-two;
            opacity: 0.5;
            position: absolute;
            right: 0;
            top: rem(20);
          }
          a{
            font-size: rem(26);
            font-weight: $regular;
            color: $black-two;
            opacity: 0.5;
          }
          &:last-child{
            padding-right: 0;
            padding-left: rem(30);
            &:after{
              display: none;
            }
            a{
              font-weight: $medium;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .copyright{
      text-align: center;
      font-size: rem(22);
      line-height: rem(36);
      font-weight: $light;
      color: $gray;
      padding-top: rem(40);
      padding-bottom: rem(110);
  }
}

