.map {
  margin-top: rem(20);
}
.map-box {
  background-color: $white;
  padding-bottom: rem(60);
  .address {
    padding: rem(44) rem(30) rem(30) rem(30);
    display: flex;
    align-items: center;
    .logo {
      width: rem(72);
      height: rem(72);
      margin-right: rem(8);
    } 
    .address-text {
      p {
        font-size: rem(26);
        font-weight: $regular;
        color:$black-two;
      }
      span {
        font-size: rem(22);
        font-weight: $regular;
        color: $gray-two;
        margin-bottom: rem(30);
      }
    }
  }
  .map-button {
    display: flex;
    margin: 0 rem(30);
     li {
      flex: 1 1 50%;
      text-align: center;
      border: rem(2) solid $primary;
      line-height: rem(64);
      border-radius: rem(10);
       &:first-child {
        margin-right: rem(20);
       }
       a {
        font-size: rem(26);
        color: $primary;
        font-weight: $regular;
      }
     }
  }
  .info{
    margin: rem(40) rem(30);
    .box-title {
      font-size: rem(26);
      font-weight: $regular;
      color:$black-two;
      margin-bottom: rem(24);
    }
    .box-info {
      border: rem(2) solid $box-border;
      border-radius: rem(10);
      padding: rem(35) rem(30) rem(26) rem(30);
      .box-list {
        display: flex;
        flex-direction: column;
         li {
          display: flex;
          background: transparent;
          border: 0;
          margin: 0;
         }
         .left{
          font-size: rem(24);
          font-weight: $medium;
          color: $gray-two;
          line-height: rem(48);
          margin-right: rem(49);
          min-width: rem(88);
         }
         .right {
          font-size: rem(24);
          font-weight: $medium;
          color: $gray;
          line-height: rem(48);
           a {
            font-size: rem(24);
            font-weight: $medium;
            color: $gray;
            line-height: rem(48);
           }
         }
      }
    }
  }
  
}
