header {
    min-height: rem(90);
}
.tab-list {
    & + .modify-member-form {
        min-height: calc(100vh - #{rem(105)} - #{rem(169)} + #{rem(20)} - #{rem(6)} + #{rem(29)} - #{rem(100)});
    }
}
.member-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: rem(40) 0 rem(45);
    margin: rem(20) 0 rem(140);
    min-height: calc(100% - #{rem(160)});
    overflow-y: auto;
    // margin: 0 0 rem(140);
    background-color: #ffffff;
    flex-wrap: wrap;
    //min-height: calc(100vh - #{rem(210)} - #{rem(169)} + #{rem(20)}); 2022-06-13 계산 변경
    // &.modify {
    //     min-height: calc(100vh - #{rem(105)} - #{rem(169)} + #{rem(20)} - #{rem(6)} + #{rem(29)} - #{rem(100)});
    // }
    &.signin-up {
        margin-bottom: 0;
        min-height: calc(100vh - #{rem(312)});
        //min-height: calc(100vh - #{rem(105)} - #{rem(169)} + #{rem(20)} - #{rem(6)} + #{rem(29)});
    }
    &.forget {
        margin-bottom: 0;
        min-height: calc(100vh - #{rem(312)});
        justify-content: flex-start;
        .btn.btn-member {
            margin-top: calc( (#{rem(90)} - #{rem(4)}) * 3 );
        }
    }
    &.modal-modify {
        margin: 0;
        padding-bottom: rem(20);
         .modal-form {
            .form-group {
                padding: 0 ;
                .form-wrap {
                    label {
                        text-align: left;
                        min-width: 34%;
                        padding-right: 0;
                    }
                    input {
                        max-width: 66%;
                        padding: 0;
                    }
                }
            }
         }
    }
    
    // 회원가입
    .signin-desc {
        padding: rem(100) rem(30) rem(75);
        .signin-title {
            color: $black;
            width: 100%;
            font-size: rem(52);
            font-weight: $medium;
        }
        .signin-subtitle {
            color: $black;
            font-size: rem(28);
            display: block;
            padding-top: rem(20);
            padding-right: rem(60);
        }
    }
    .signup-button-group {
        padding: rem(20) 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            position: relative;
            &:first-child:after {
                content: "";
                position: absolute;
                width: rem(2);
                height: rem(20);
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: #babbbc;
            }
            a {
                display: inline-block;
                padding: rem(20) rem(30);
                color: rgba(#333333, .5);
                font-size: rem(26);
            }
        }
    }
    .secession-title {
        padding: 0 rem(30);
        height: rem(98);
        display: flex;
        align-items: center;
        font-size: rem(26);
        margin: 0 rem(30);
        border-bottom: rem(2) solid #e0e0e0;
        font-weight: $regular;
    }
    .secession-content {
        padding: 0 rem(30) rem(50) rem(80);
        font-size: rem(26);
        & > li {
            padding: rem(20) 0;
        }
        li {
            color: #999999;
        }
        ul {
            padding-left: rem(10);
            list-style: disc;
        }
    }
    .form-desc {
        color: #999999;
        font-size: rem(22);
        line-height: 1.5;
        padding: rem(20) rem(30) rem(20) rem(50);
        width: 100%;
        display: block;
         +.form-group {
            margin-top: 0 !important;
        }
    }
    .error {
        position: relative;
        display: block;
        margin: 0 rem(40);
        color: #e03c00;
        padding-left: rem(30);
        padding-bottom: rem(15);
        font-size: rem(22);
        line-height: 2;
        font-weight: 400;
        &::before {
            content: "";
            position: absolute;
            width: rem(20);
            height: rem(20);
            background-position: center center;
            left: 0;
            top: rem(12);
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/icon-error.png');
        }
        &.modal-error {
            padding-left: 0;
            padding-bottom: 0;
            margin-top: rem(10);
            margin-left: 0;
            margin-right: 0;
            padding-left: rem(70);
            text-align: left;
            &::before {
                content: "";
                position: absolute;
                width: rem(20);
                height: rem(20);
                background-position: center center;
                left: rem(40);
                top: rem(12);
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../images/icon-error.png');
            }
        }
    }
    .form-group {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background-color: #ffffff;
        padding: 0 rem(30);
        .form-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            border-top: rem(2) solid #e0e0e0;
            border-left: rem(2) solid #e0e0e0;
            border-right: rem(2) solid #e0e0e0;
             &.background-color-gray {
                background-color: #f0f0f0; 
                input {
                    background-color: #f0f0f0;
                    }
                }
             
            width: 100%;
            &:last-child {
                padding-top: 0 rem(30);
                border-bottom: rem(2) solid #e0e0e0;
            }
            label {
                // flex: 1 1 calc(33.3333333333% + #{rem(50)});
                min-width: rem(246);
                padding: 0 rem(26);
                font-size: rem(26);
                font-weight: $medium;
                .required {
                    color: #e03c00;
                }
            }   
            .after-plus {
                // flex: 1 1 calc(33.3333333333% + #{rem(50)});
                position: relative;
                min-width: rem(246);
                padding: 0 rem(30);
                font-size: rem(26);
                 &::after {
                    content: "*";
                    color: $red;
                    position: absolute;
                    top:0;
                    left: rem(216);
                 }
            }
            a {
                margin-top: rem(15);
                margin-bottom: rem(15);
                display: inline-flex;
            }
            select {
                flex: 1 1 auto;
                // flex: 1 1 calc(66.666666666% - #{rem(50)});
                height: calc(#{rem(90)} - #{rem(4)});
                font-weight: $regular;
            }
            input {
                &[type="text"],&[type="password"],&[type="number"] {
                    max-width: calc(100% - #{rem(246)});
                    // flex: 1 1 calc(66.666666666% - #{rem(50)});
                    height: calc(#{rem(90)} - #{rem(4)});
                    font-size: rem(26);
                    padding:0 rem(30);
                    

                }
            }
            .individual {
                width: 100%;
                color: $check-label;   
            }
            .error {
                margin: 0 rem(30);
            }
            .form-desc {
                padding: rem(0) rem(30) rem(20) rem(30);
            }
            &.auto-type{
                flex-wrap: nowrap;
                label{
                    // padding-right:rem(18);
                    flex: 1 1 auto;
                    min-width: auto;
                    max-width: unset;
                }
                label,
                input[type="text"] {
                    flex: 1 1 auto;
                    min-width: auto;
                    max-width: unset;
                    
                }
                // button {
                //     background-color: $black-two;
                //     color: $white;
                //     padding: rem(19) rem(25);
                //     border-radius: rem(10);
                //     font-size: rem(26);
                //     font-weight: $medium;
                //     line-height: rem(36);
                //     margin-top: rem(10);
                //     margin-bottom: rem(10);
                    
                // }
                .btn{
                    flex: 1 1 auto;
                    min-width: auto;
                    max-width: unset;
                }
                .btn{
                    line-height: rem(64);
                    margin-right: rem(30);
                }
                
            }
            
        }
        &:not(:first-child) {
            margin-top: rem(20);
        }
        .auto-type{
            input[type="text"]{
                max-width: calc(100% - #{rem(246)} - #{rem(55)});
            }
        }
    }
    .lecture-add {
        overflow: hidden;
        .form-group {
            margin-top: rem(20);
        }
    }
    .btn-member {
        align-self: flex-end;
        margin: rem(50) rem(30) 0;
        width: calc(100% - #{rem(60)});
        font-weight: $medium;
    }
    .form-text {
        padding: rem(20) rem(60) rem(0) rem(48);
        p {
            font-size: rem(22);
            font-weight: $regular;
            color: $gray-two;
            line-height: rem(36);
        }
    }
    .form-group-bottom {
        display: flex;
        flex-direction: column;
        // padding: 0 rem(30);
        height: rem(98);
        display: flex;
        align-items: left;
        font-size: rem(22);
        margin:rem(30);
        border-bottom: rem(2) solid #e0e0e0;
        font-weight: $regular;

    }
}

label {
    &.checkbox {
        display: flex;
        align-items: center;
        position: relative;
        a {
            position: absolute;
            right: rem(25);
        }
        input {
            &[type="checkbox"] {
                display: none;
                &:checked + .box {
                    background-image: url('../images/checkbox-checked.png');
                }
            }
        }
        .box {
            display: block;
            width: rem(38);
            height: rem(38);
            font-weight: $regular;
            color: $black-two;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../images/checkbox.png');
        }
        .text {
            padding-left: rem(15);
            line-height: rem(90);
            font-weight: $regular;

        }
        &.agree {
            .text {
                line-height: rem(70);
            }
        }
    }
}
