
@mixin flex-prefix-suffix{
  display: flex;
  .prefix, .suffix{
    display: flex;
    flex: 1 1 auto;
    // align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin flex-prefix-center-suffix{
  display: flex;
  .prefix, .center, .suffix{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .center{
    justify-content: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin icon-setting {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ellipsis {
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin ellipsis-multi {
  display: -webkit-box;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap:break-word;
}

@mixin side-padd{
  padding: {
    left: $side-pad;
    right:$side-pad;
  };
}

@mixin hidden-checkbox{
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  left: 0;
  opacity: 0;
}
