.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  color:$black-two;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: $white;
    padding: rem(60) rem(30) rem(30) rem(30);
    min-width: rem(520);
    border-radius: rem(12);
    text-align: center;
    .modal-title{
      font-size: rem(48);
      font-weight: $medium;
      color: $black-two;
      margin-top: rem(-16);
      margin-bottom: rem(20);
    }
    .modal-explain {
      font-size: rem(36);
      font-weight: $medium;
      color: $black-two;
      margin-bottom: rem(30);
      // margin-top: rem(-16);
      // margin-bottom: rem(18);
    } 
    .modal-explain-margin {
      font-size: rem(36);
      font-weight: $medium;
      color: $black-two;
      margin-bottom: rem(10);
    }
    .modal-content{
      font-size: rem(32);
      line-height: rem(46);
      font-weight: $regular;
      color: $gray-two;
      padding-bottom: rem(52);
       &.font-small {
        font-size: rem(26);
       }
      .reset-info{
        color: $black-two;
        font-weight: $regular;
      }
    }
    .modal-content-bottom {
      font-size: rem(22);
      font-weight: $regular;
      line-height: rem(32);
      color: $gray-two;
      margin-top: rem(30);
    }
    .modal-login {
      display: flex;
      align-items: center;
      justify-content: center;
       .login-btn {
        background-color: $primary;
        color: $white;
        font-size: rem(26);
        line-height: rem(92);
        font-weight: $medium;
        // padding: rem(32) rem(100);
        margin-right: rem(12);
        flex: 1 1 70%;
        //  &.join-btn {
        //   padding: rem(32) rem(63);
        //  }
       }
       .login-close-btn {
        background-color: $white;
        color: $primary;
        font-size: rem(26);
        line-height: rem(92);
        font-weight: $medium;
        // padding: rem(32);
        flex: 1 1 30%;
        border: rem(2) solid $primary ;
        //  &.cancel-btn {
        //   padding: rem(32) rem(63);
        //  }
       }
      
    }
    &.none-title-type{
      .modal-content{
        font-size: rem(26);
        margin-top:rem(-10)
      }
    }
    .btn-wrap{
      &.flex-half-type{
        display: flex;
        .btn{
          flex: 1 1 45%;
          line-height: 2.8125rem;
          + .btn{
            margin-left: rem(20);
          }
        }
      }
    }
  }
  &.sns-modal{
    .modal{
      padding: 0;
      width: calc(100% - #{rem(60)});
      .btn{
        margin-top: rem(-10);
        border-radius: 0 0 0.375rem 0.375rem;
        font-weight: $medium;
      }
      .close-btn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:rem(534) ;
        border-bottom: rem(2) solid $white;
        color: $white;
        font-size: rem(26);
        line-height: rem(36);
        font-weight: $regular;
      }
      .modal-content{
        padding: 0;
        img{
          width: 100%;
        }
      }
    }
  }
  &.crud-modal{
    .modal{
      width: 100%;
      transform: none;
      top:unset;
      left:0;
      bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0;
      ul{
        li{
          &:nth-child(2){
            button{
              border-top: rem(2) solid #e1e1e1;
              border-bottom: rem(2) solid #e1e1e1;
            }
          }
        }
      }
      button{
        background-color: transparent;
        width: 100%;
        line-height: rem(94);
        font-size: rem(26);
        text-align: center;
        color:#3399cc;
      }
    }
  }
}