.my {
  margin: rem(-80) 0; 
  background-color: $white;
  padding-bottom: rem(140);
    .member-form.forget { 
      min-height: 0;
      padding-bottom: rem(20);
      .form-wrap {
        border: none;
      }
      select {
        background-color: $gray-three;
        border-radius: rem(10);
        border: none;
        height: rem(64);
        color: $gray;
        font-size: rem(24);
        font-weight: $regular;
      }
    }
    .faq-accordion{
      margin: 0 rem(30);
      .number-list{
        li{
          display: flex;
          span{
            margin-right: rem(6);
          }
        }
      }
      .dot-list{
        margin-left: rem(30);
        &.none-margin{
          margin-left: 0;
        }
      }
    }
  }
