.notice {
  .detail-view {
    .detail-title {
      .tag {
        font-style: inherit;
        display: inline-block;
      }
    }
  }
  .community-box {
    ul{
      li{
        // border-bottom: rem(10) solid $bg-slide-nav;
        a{
          .suffix {
            span {
              .tag {
                background-color: $white;
                color:$primary;
                margin-bottom: 0;
                font-style: inherit;
              }
            }
            .content-info {
              margin-top: 0;
            }
            .title {
              padding-top:rem(23);
              padding-bottom: rem(19);
              font-size: rem(26);
              font-weight: $regular;
              color: $gray;
              line-height: rem(36);
            }  
          }
        }
      }
    }
  }
}