nav {
    &.scroll-nav {
        position: relative;
        z-index: 2;
        height: rem(100);
        scroll-behavior: smooth;
        position: fixed;
        width: 100%;
        background-color: $gray-six;
        ::-webkit-scrollbar {
            display: none;
        }
        ul {
            display: flex;
            flex-wrap: nowrap;
            padding-left: 0;
            height: 100%;
            margin-block: 0;
            overflow-x: auto;
            list-style: none;
            text-align: center;
            white-space: nowrap;
            li {
                a {
                    display: inline-flex;
                    align-items: center;
                    padding: 0 rem(30);
                }
                &.active {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
        + .section {
            padding-top: rem(100);
        }
    }
}