.search-header {
  position: relative;
  .prefix {
    display: flex;
    justify-content: left;
     input {
      width: 100%;
      padding-right: rem(40);
      margin-left: rem(30);
     }
     a{
      margin-top: rem(-6);
     }
  }
  .suffix{
    position: absolute;
    right: rem(24);
    top: rem(14);
  }
}

.search-page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $white;
  margin: 0;
  justify-content: center;
  .search-box{
    text-align: center;
    padding: 0 $side-pad;
    margin-bottom: rem(400);
    .img-banner{
      width:rem(150);
      margin: auto;
    }
    .search-title{
      font-size: rem(30);
      line-height: rem(84);
      font-weight: $medium;
      color: $black-two;
      margin-top: rem(-6);
    }
    .try{
      font-size: rem(28);
      line-height: rem(42);
      color: $gray-two;
      font-weight: $regular;
    }
    .btn{
      position: absolute;
      width: calc(100% - #{rem(60)});
      left: rem(30);
      bottom: rem(116);
    }
  }
}
.search {
  .search-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: rem(66);
    background-color: $bg-slide-nav; 
    padding: 0 rem(30);
     p {
      font-size: rem(22);
      color: $gray-two;
      line-height: rem(36);
     }
  }
  .content-list {
    padding: 0 rem(30);
    .search-list {
      li {
        border-bottom: rem(2) solid $box-border;
         &:last-child {
          border-bottom: 0;
         }
        a {
          padding-left: 0;
          padding-right: 0;
        }
        .content-info {
          .prefix {
            ul {
              li {
                border-bottom: 0;
              }
            }
          }
        }
      }

    } 
    .search-title {
      font-size: rem(32);
      font-weight: $medium;
      line-height: rem(26);
      color: $black-two;
      padding: rem(50) 0 rem(40) 0;
    }
  }
  
  .btn-plus {
    width: 100%;
    height: rem(96);
    background-color: $bg-slide-nav; 
    text-align: center;
     .plus {
      padding-top: rem(10);
       button {
        font-size: rem(26);
        font-weight:$regular;
        line-height: rem(36);
        color: $gray;
       }
     }
  }
  .notice {
    .content-list {
      padding: 0 rem(30);
      .search-list {
        li {
          border-bottom: rem(2) solid $box-border;
          &:last-child {
            border-bottom: 0;
           }
          a {
            padding-left: 0;
            padding-right: 0;
          }
        }
  
      } 
      .search-title {
        font-size: rem(32);
        font-weight: $medium;
        line-height: rem(26);
        color: $black-two;
        padding: rem(50) 0 rem(40) 0;
      }
    }
  }
}