.section{
  margin-top: rem(90);
  margin-bottom: rem(140);
  min-height: calc(100vh - #{rem(230)});
  &.faq-section{
    background-color: $white;
    &.none-margin-bottom{
      margin-bottom: 0;
    }
  }
  &.bg-color-gray {
    background-color: $bg-color-gray;
  }
  &.none-margin{
    margin: 0;
  }
  &.none-margin-bottom{
    margin-bottom: 0;
  }
  &.height-modify {
    min-height: auto;
  }
  &.member-sign {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - #{rem(100)} + #{rem(6)});
    justify-content: space-between;
    margin-bottom: 0;
    .footer {
      height: rem(212);
      align-self: flex-end;
    }
  }
  &.forget-section {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - #{rem(100)} + #{rem(6)});
    justify-content: space-between;
    margin-bottom: 0;
    .footer {
      align-self: flex-end;
    }
  }
  .footer {
    background-color: $white;
    width: 100%;
    .footer-nav {
      display: flex;
      justify-content: center;
      margin: 0 rem(30);
      border-top: rem(2) solid #f7f7f7;
      li {
        padding: 0 rem(30);
        position: relative;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        &:nth-child(2) {
          a {
            color: rgba(51, 51, 51, 1);
            font-weight: $regular;
          }
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(51, 51, 51, 0.5);
          font-size: rem(26);
          height: rem(94);
        }
        &:not(:last-child):after {
          content: "";
          width: rem(2);
          height: rem(20);
          position: absolute;
          background-color: #dadbdc;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .copy {
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(118);
      color: rgba(#666666, .6);
      font-size: rem(22);
      border-top: rem(2) solid #f7f7f7;
      // margin: 0 rem(30);
      // padding: 0 rem(30);
    }
  }
  &.min-height{
    height: calc(100vh - #{rem(90)});
  }
}