.service{
  padding: 0 rem(30);
  padding-bottom: rem(8);
  h2{
    font-size: rem(24);
    line-height: rem(36);
    font-weight: $bold;
    color: $black-two;
    padding-top: rem(38);
  }
  p{
    font-size: rem(22);
    line-height: rem(36);
    font-weight: $regular;
    color: $black-two;
  }
  .number-list{
    li{
      display: flex;
      div{
        font-size: rem(22);
        line-height: rem(36);
        color: #767676;
        font-weight: $regular;
      }
      span{
        display: inline-block;
        padding-right: rem(10);
        font-size: rem(22);
        line-height: rem(36);
        color: #767676;
        font-weight: $regular;
      }
    }
    &.two-dept{
      padding-left:rem(30);
    }
  }
  .dot-list{
    font-size: rem(22);
    line-height: rem(36);
    color: #333;
    font-weight: $regular;
     li {
      font-weight: $regular;
     }
  }
  .box{
    border-top: rem(2) solid #e0e0e0;
    border-bottom: rem(2) solid #e0e0e0;
  }
  &.privacy{
    padding-top: rem(20);
    p{
      +p{
        margin-top: rem(14);
      }
    }
    .number-list{
      .column-type{
          flex-direction: column;
          div{
            padding-left: rem(20);
          }
          span,div{
            line-height: rem(44);
            font-weight: $regular;
          }
      }
    }
    p{
      color: $black-two;
    }
    .black-type{
      color:#333;
      font-size: rem(22);
      line-height: rem(36);
      font-weight: $regular;
    }
    .dot-list {
      li {
        font-weight: $regular;
      }
    }
    .table{
      padding: rem(20) 0;
      table{
        table-layout: fixed;
        tr{
          th{
            background-color: #e0e0e0;
            font-size: rem(24);
          }
          td{
            text-align: center;
            font-size: rem(22);
          }
          th,td{
            border: 1px solid #000;
            padding: 0 rem(10);
          }
        }
      }
    }
  }
}