.sns-list{
  ul{
    display: flex;
    li{
      display: flex;
      flex-direction: column;
      text-align: center;
      div{
        font-size: rem(24);
        color: $gray;
        font-weight: $regular;
        padding-top: rem(10);
      }
    }
  }
}