.my-login {
  background-color: #fff;
  padding: rem(42) rem(30) 0 rem(30);
  height: calc(100vh - 4.375rem);
  .login-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rem(2) solid $gray-three;
    border-radius: rem(10);
    background-color: $gray-three;
    padding: rem(40) rem(30);
    margin-bottom: rem(80); 
      p{
        font-size: rem(32);
        font-weight: $medium;
        color: $black-two;
      }
      span {
        font-size: rem(24);
        font-weight: $regular;
        color: $gray-two;
      }
      .login-img {
        width: rem(76);
        height: rem(76);
      }
  }
  .ad-banner{
    margin-top: rem(10);
  }
}
.login-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-9);
    li {
      display: flex;
      flex: 1 1 33.33%;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: rem(9);
      align-items: center;
       a {
        display: block;
        width: 100%;
        min-height: rem(160);
        border: rem(2) solid #e0e0e0;
        border-radius: rem(10);
        padding-top: rem(21);
        p {
          font-size: rem(24);
          font-weight: $regular;
          color: $gray;
          &.text-red {
            color: #ed2323;
          }
        }
       }
    }
  }
}