.swiper{
  .swiper-paging{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    .swiper-pagination-bullet{
      display: inline-block;
      margin-right: rem(16);
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &.main-slide{
    .swiper-paging{
      bottom: rem(32);
      .swiper-pagination-bullet{
        width: rem(28);
        height: rem(28);
        background-color:$main-paging-dot;
        border-radius: 50%;
        &.swiper-pagination-bullet-active{
          background-color: $main-paging-dot-actvie;
        }
      }
    }
  }
  &.ad-slide{
    padding-bottom: rem(60);
    .swiper-paging{
      bottom: rem(32);
      .swiper-pagination-bullet{
        width: rem(16);
        height: rem(16);
        background-color: $ad-paging-dot;
        border-radius: 50%;
        &.swiper-pagination-bullet-active{
          background-color: $ad-paging-dot-active;
        }
      }
    }
  }
}