.table-list{
  display: flex;
  flex-wrap: wrap;
  li{
    flex: 1 1 50%;
    border-top: rem(2) solid $table-list-border;
     font-size: rem(28);
     &:nth-child(5) {
      border-bottom: rem(2) solid $table-list-border;
     }
     &:nth-child(even),
     &:last-child{
       border-right: 0;
     }
     &:last-child{
       border-bottom: rem(2) solid $table-list-border;
     }
     a{
       display: flex;
       align-items: center;
       padding:rem(20) 0 ;
       color: $gray;
       font-weight: $regular;
       &.bold{
         font-weight: $medium;
       }
       i {
        margin-right: rem(20);
       }
     }
  }
}