.tab-list{
  display: flex;
  margin-top: rem(2);
  width: 100%;
  height: rem(100);
  margin: 0;
  list-style: none;
  li {
      width: 33.3333333333%;
      height: 100%;
      background-color: #f4f5f7;
      border-bottom: rem(2) solid #e0e0e0;
      a {
          display: flex;
          font-size: rem(28);
          font-weight: 500;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: #666666;
      }
      &.active {
          background-color: #37aad7;
          border-bottom-color: #37aad7;
          a {
              color: #ffffff;
          }
      }
  }
  &.two-dept{
    li{
      width: 50%;
    }
  }
  &.auto-type{
    li{
      width: auto;
      line-height: rem(100);
    }
  }
}