.tag{
  display: inline-block;
  font-size: rem(24);
  color: $white;
  font-weight: $regular;
  line-height: rem(26);
  letter-spacing: -0.6pt;
  border-radius: rem(20);
  font-style: normal;
  padding: rem(8) rem(28);
  &.border-tag{
    border: rem(2) solid $primary;
    background-color: $white;
    color: $primary;
  }
  &.primary-tag{
    background-color: $primary;
  }
  &.green-tag{
    background-color: $green;
  }
  &.black-tag{
    background-color: $black-two;
  }
   &.pink-tag{
    background-color: $pink;
   }
   &.blue-tag{
    background-color: $blue;
   }
   &.white-tag{
    padding: rem(9) rem(47);
    font-size: rem(20);
    font-weight: $regular;
    line-height: rem(36);
    background-color: $white;
    letter-spacing: 1.0pt;
    color: $primary;
    border-radius: rem(40);
   }
   &.login-tag{
    padding: rem(7) rem(50);
    font-size: rem(22);
    font-weight: $regular;
    line-height: rem(36);
    background-color: $primary;
    letter-spacing: 1.0pt;
    color: $white;
    border-radius: rem(40);
   }
}

.flex-tag{
  display: flex;
}