#toast {
  position: fixed;
  top: rem(86);
  left: 50%;
  width: 100%;
  padding: rem(30) 0 ;
  transform: translate(-50%, 10px);
  overflow: hidden;
  font-size: .8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s, transform .5s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  z-index: 10000;
  &.reveal{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }
}
