//font-weight
$thin:100;
$light:300;
$regular:400;
$medium:500;
$bold:700;

$white:#fff;
$black:#000;
$black-two:#333333;
$black-three:#2c2c2c;
$primary:#37aad7;
$primary-two:#3db7e4;
$sky:#a6cedd;
$gray:#666666;
$gray-two:#999999;
$gray-three:#f7f7f7;
$gray-four:#aba7a7;
$gray-five:#f2f2f2;
$gray-six: #f4f5f7;
$red:#e50101;
$disable:#cdcdcd;
$green:#a0d00e;
$pink:#f77aaf;
$blue:#a38afa;


$body-bg:#ececec;
$bg-slide-nav:#ececec;
$bg-sns-list:#f6f7f8;
$bg-footer-paenl:#ced4db;
$bg-color-gray:#f7f6f0;

$header-border:#e0e0e0;
$box-border:#e0e0e0;
$table-list-border:#e0e0e0;
$detail-border:#e0e0e0;
$form-list-border:#e0e0e0;
$accordion-border:#e0e0e0;
$footer-accordion-border:#bfc3c9;
$content-list-border:#e0e0e0;
$content-info-after-border:#ececec;

$check-label:#767676;
$main-paging-dot:#a0a0a0;
$main-paging-dot-actvie:#e8bc09;
$ad-paging-dot:#e6e6e6;
$ad-paging-dot-active:#b2b2b2;
$side-pad:rem(30)