header {
  .suffix {
    a {
      width: rem(100);
      height: rem(48);
    }
  }
}
.write {
  .form-group {
    margin-bottom: rem(30);
    border-bottom: rem(10) solid $box-border;
    .form-wrap {
      margin-bottom: rem(40);
      border: none;
       &:last-child {
        border:none;
       }
       select {
        font-size: rem(28);
        font-weight: $regular;
        color: $gray;
        background-color: $gray-three;
        border-radius: rem(10);
       }
    }
  }
  .input-wrap {
    padding: 0 rem(30) rem(30) rem(30);
    border-bottom: rem(2) solid $box-border;
      input {
      letter-spacing: rem(-2);
      font-size: rem(28);
      font-weight: $regular;
      color: $gray-two;
      line-height: rem(36);
      width: 100%;
      }
    }
    .form-wrap {
      textarea {
        width: 100%;
        height:calc(80vh - 9.75rem);
        padding: rem(30);
        font-size: rem(28);
        &::placeholder {
          letter-spacing: rem(-2);
          font-size: rem(26);
          // font-weight: $regular;
          color: $gray-two;
          line-height: rem(36);
          font-family: 'Noto Sans CJ KR';
        }
      }
    }
    .footer {
      border-top: 1px solid $box-border;
      padding-top: rem(30);
      padding-bottom: rem(70);
      padding-left: rem(30);
       .img-plus {
        display: flex;
        align-items: center;
        .file-name {
          padding: 0 20px;
        }
        .btn-delete {
          display: block;
          width: rem(36);
          height: rem(36);
          border: 0;
          background-color: transparent;
          padding: 0;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("../images/icon-search-close.png");
          input[type="file"] {
            display: none;
          }
        }
        .img-upload {
          display: flex;
          align-items: center;
          padding-left: rem(100);
          height: rem(78);
          background-position: left center;
          background-repeat: no-repeat;
          background-image: url("../images/ico_img.png");
          input[type="file"] {
            display: none;
          }
        }
       }
    }  
  }
